body{line-height:1.5;font-family:arial,"\5B8B\4F53";background:#ffffff;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ol,ul{list-style:none;}
li{list-style-type:none;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;}
fieldset,img,a img,:link img,:visited img{border:0;}
a{text-decoration:none}
a:hover{text-decoration:none}
button,input,select,textarea{font-size:100%}button{border-radius:0}table{border-collapse:collapse;border-spacing:0}