body{
    background-color: #f9f9f9;
    height: 100vh;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    height: auto;display:-webkit-flex;
    align-items: center;
    justify-content: center;
}
.layout{
    width: 854px;
    padding-bottom: 10px;
}
.layout-inside{
    background-color: #ffffff;
    padding: 0 34px 34px ;
}
.mi-icon{
    padding-bottom: 40px;
}
.mi-icon img{
    width: 49px;
    height: 48px;
    display: block;
    margin: 0 auto;
}
h3{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}
.regbox{
    width: 332px;
    padding: 30px 0;
    line-height: 20px;
    margin: 0 auto;
}
form p{
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 5px;
    color: #333333;
}
.form-input-stype{
    padding-bottom: 20px;
}
.form-input-stype label{
    width: 332px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
}
.form-input-stype input{
    width: 310px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    display: inline-block;
}
.plaseInput{
    padding: 5px 0;
    color: red;
    display: none;
}
.plaseInput img{
    width: 14px;
    height: 14px;
    padding: 0 5px 0;
    vertical-align: middle;
}
.submit-phone-btn{
    width: 332px;
    line-height: 20px;
}
.submit-btn{
    width: 332px;
    height: 42px;
    line-height: 42px;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    background-color: #ff6700;
    color: #ffffff;
}
.phone-btn{
    width: 332px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #e0e0e0;
    margin-top: 15px;
    background-color: #ffffff;
}
.user-condition{
    text-align: center;
    padding-top: 40px;
    color: #9d9d9d;
    font-size: 14px;
}
.user-condition a{
    color: black;
    font-weight: bold;
}
footer{
    text-align: center;
    height: 80px;
    margin-top: -80px;
}
.tools{
    font-size: 14px;
}
.tools ul{
    display: inline-block;
}
.tools ul li{
    float: left;
}
.tools ul li:first-child a:first-child{
    color: black;
}
.tools li a{
    padding: 0 5px;
    color: #9d9d9d;
}
.tools li span{
    color: #9d9d9d;
}
.tools li button{
    padding: 0 5px;
    margin-right: 5px;
    height: 19px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 3px;
}
.copyright{
    color: #9d9d9d;
    padding-bottom: 10px;
}
